@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
/*** BACKGROUND COLOURS***/
html{
	--primary-a:#AB47BC;
	--primary-b:#8E24AA;
	--secondary-a:#4e03da;
	--secondary-b:#7b5bee;
	--background:rgb(235, 233, 233);
	--error:#b00020;

/*** Foreground colour***/
	--on-primary:#1a0272;
	--on-secondary:#000000;
	--on-background:#222222;
	--on-error:#9c48eb;

	/*** Font sets***/
	--font-body:Arial, Helvetica, sans-serif;
	--font-impact:georgia, serif;
}


h1,h2,h3,h4,h5,h6{
	font: 2em 'Patua One';
	padding: .75em;
}

p{
	padding:.75em;
}

body {
	background-color:var(--background);
	color:var(--on-background);
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: var(--font-body)
}

li{
	background-color: var(--primary-a);
	color:var(--on-primary);
	padding:.5rem;
}

img{
	max-width: 100%;
}

footer{
	background-color:var(--secondary-b);
	color:var(--on-secondary);
	font-size: .5rem;
}

nav{
	background-color:var(--secondary-b);
	padding: 1rem;
	color:var(--on-secondary);
}

p{
	padding-top: .75em;
}

a{
	text-decoration: none;
	color: var(--on-primary);
}

a:hover{
	text-decoration: underline;
}
.upper{
	text-transform: uppercase;
	text-decoration: underline;
}

.picsize{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.center{
	text-align: center;
}

.border{
	border: .25em solid var(--secondary-a);
}

