body {
	background-color: tomato;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

li{
	display: inline-block;
	background-color: aliceblue;
	padding:.5rem;
}

img{
	max-width: 100%;
}

footer{
	font-size: .5rem;
}

nav{
	background-color: bisque;
	padding: 1rem;
}